/* global styles */
a {
  text-decoration: none;
}

/* social links */
& a.social {
  display: grid;
  place-items: center;
  width: fit-content;

  border-radius: 100%;
  padding: 0.8rem;

  transition: background-color 400ms linear, fill 400ms linear;

  &:hover {
    background-color: var(--shape-stroke);

    & svg path {
      fill: var(--blue-light);
    }
  }
}

/* quick links */
.quick-links a {
  color: var(--blue-light);
  font: var(--medium) 1.4rem / var(--line-base) var(--ff-raleway);
  transition: color 400ms;

  &:hover {
    color: var(--text-body);
  }
}

/* buttons */
a.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.8rem;
  padding-block: 1.2rem;

  overflow: hidden;
  position: relative;

  width: 100%;

  &::before {
    content: "";
    width: 2rem;
    height: 2rem;

    border-radius: 100%;

    position: absolute;
    transform: scale(0);
    transition: transform 800ms ease-in;
  }

  &::after {
    content: attr(data-label);
    position: relative;
  }

  &:hover {
    &::before {
      transform: scale(20);
    }
  }
}

a.btn-primary {
  background-color: var(--pink-dark);

  &::before {
    background-color: var(--pink-base);
  }
}

a.btn-secondary {
  background-color: var(--blue-dark);

  &::before {
    background-color: var(--blue-mid);
  }
}
