*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* colors */
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;
}

body {
  background: var(--shape-background) url(../assets/img/bg-blur.svg) no-repeat
    top / cover;
}

img {
  display: inline-block;
  object-fit: cover;
  width: 100%;
}

.container {
  max-width: 37.5rem;
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

@media (min-width: 1440px) {
  .container {
    max-width: 256rem;
    margin-inline: auto;
  }

  .desktop-only {
    display: initial;
  }

  .mobile-only {
    display: none;
  }
}
